.main {
  display: grid;
  place-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;

  max-width: 600px;
}

/* .description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
} */

.testButton {
  margin: 24px;
}

/* .product_pics {
  display: flex;
  flex-direction: row;
} */

.ul {
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.drama_description_list {
  margin-top: 20px;
}

.p {
  font-size: var(--font_dramaDescription);
  color: #8d85e8;
}
